{% extends "layout.html" %}

{% block content %}

    <h1>{{webinar.title}}</h1>
    <br>
    <p>{{webinar.description}}</p>
    
    <form role="form" method="post" action="{{ url_for('webinar.register', id=webinar.id) }}">
        <button class="btn btn-success" type="submit">Register for Webinar</button>
    </form>
    {% if current_user.id == webinar.teacher_id %}
        <a href="{{ url_for('webinar.edit', id=webinar.id)}}">Edit Webinar</a><br>
        <a href="{{ url_for('webinar.destroy', id=webinar.id)}}">Delete Webinar</a>
    {% endif %}
{% endblock %}